<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>328116638035-r2e6895hp665h9mahrej5iaomjhueat4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.328116638035-r2e6895hp665h9mahrej5iaomjhueat4</string>
	<key>API_KEY</key>
	<string>AIzaSyCp2QlgkjJ-JT6m5D5oZSvoJzDLMciVWUE</string>
	<key>GCM_SENDER_ID</key>
	<string>328116638035</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Strats360.360KidsApp</string>
	<key>PROJECT_ID</key>
	<string>strats360kids</string>
	<key>STORAGE_BUCKET</key>
	<string>strats360kids.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:328116638035:ios:3e2ce9b4d3352bd7b5d1a6</string>
</dict>
</plist>